@charset "utf-8";
.inner{
  width: 1100px;
  margin: auto;
}

/* 各セッション題名 */
.top{
  font-size: 40px;
  letter-spacing: 10px;
}
/* ヘッダー部分 */
header{
  width: 100%;
  background-color: #fff;
  position: fixed;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.header{
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer{
  padding-top: 15px;
  padding-bottom: 15px;
}
.icon{
  color: #777;
}
.contact{
  background-color: #6ba7eb;
  color: #ffffff;
  font-size: 12px;
  padding: 12px 14px;
  border: 0px;
  transform: 0.3s
}
.contact:hover{
  color: #333;
}
.submit{
  padding: 15px;
  color: #777;
  height: 30px;
  width: 30px;
}

/* 背景画像 */
main{
  padding-top: 78px;
}
.image{
  background-image: url(../img/keyvisual/keyvisual.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 400px;
  padding-bottom: 400px;
}
.top_web{
  display: block;
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  text-align: center;
}
.sub_web{
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}

/* WORK欄 */
.clearfix::after{
   content: "";
   display: block;
   clear: both;
}
.work{
  background-color: #e3f2fd;
  text-align: center;
  padding-top: 50px;
}
.pc_fix{
  float: left;
}
.pc_fix_clear{
  clear: left;
}
.pc_hiritu{
  width: 40%;
}
.pc_txt_hiritu{
  width: 60%;
}
.pc_img{
  width: 250px;
  margin-left: 100px;
  margin-right: 100px;
  float: inline-start;
}
.top_work{
  margin-top: 20px;
}
.p_work{
  margin-top: 35px;
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}

/* SKILLS欄 */
.we_are_skills{
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #fff;
  text-align: center;
}
.top_skills{
  margin-bottom: 50px;
}
.skills_logo{
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1100px;
  margin: auto;
}
#skills_1{
  list-style-image: url("./img/skills/skills_1.png");
}
.logo{
  width: 300px;
  height: 300px;
  opacity: 0.8;
  transition: 0.7s;
}
.logo:hover{
  opacity: 1;
}
li {
  list-style:none;
  float:left;
}
/* PLAN欄 */
.select_plan{
  background-color: #d0dfea;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.table_layout{
  padding-top: 50px;
}
table{
  table-layout: fixed;
}
th{
  padding: 10px;
}
tr:nth-child(2n+1) {
  background-color: #f9f9f9;
}
tr:nth-child(2n) {
  background-color: #e0efff;
}
tr:last-child {
  margin-bottom: 50px;
}
td{
  padding: 10px;
  line-height: 26px;
  border-left: 2px solid #fff;
}
.solid{
  border-right: 2px solid #fff;
}
.col{
  font-size: 16px;
  line-height: 26px;
  background-color: #6ba7eb;
}

/* 問い合わせロゴ */
.info{
 background-color: #e3f2fd;
 padding-top: 200px;
 padding-bottom: 200px;
}
.infoicon{
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 185px;
}
.position{
  text-align: center;
}
i{
  transition: 0.7s;
}
i:hover{
  background-color: #fff;
}
/* フッター */
.footer{
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #cfd8dc;
}
.footer_txt{
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: right;
}

/* TAB用 */
@media screen and (max-width: 1199px) {
  .inner{
    width: 97%;
  }
  /* 背景画像_TAB */
  .image{
    padding-top: 250px;
    padding-bottom: 250px;
  }

  /* WORK欄_TAB */
  .work{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .top_work{
    margin-top: 0;
  }
  .pc_img{
    float: none;
  }
  .top_work{
    padding-top: 20px;
  }
  .pc_hiritu{
    width: 100%;
  }
  .pc_txt_hiritu{
    width: 100%;
  }
  /* SKILL欄_TAB */
  .skills_logo{
    gap: 0px;
    grid-template-columns: initial;
  }
  li:nth-child(4){
    margin-top: 80px;
  }
}

